*,
*:before,
*:after {
  box-sizing: border-box;
}
 
body {
  margin: 40px;
  font-family: 'Open Sans', 'sans-serif';
  background-color: #fff;
  color: #444;
 
}
 
img {
  max-width: 100%;
}
 
h1,
p {
  margin: 0 0 1em 0;
}
 
 
.media{
  margin-bottom: 10px;
  border: 2px solid #444;
  padding: 10px;
  display: grid;
   grid-column-gap: 20px;
   grid-template-areas:
   "img title"
   "img bd"
   "img ."
   "ft ft";
}
img[alt="Placeholder"]{
    height: 250px;
    width: 250px;
}
 
.media > .title {
    grid-area: title;
}
.media > .img {
     grid-area: img;
     }
.media > .content {
    grid-area: bd;
}
.media > .footer {
     grid-area: ft;
     background-color: #ebebeb;
     padding:15px ;
     margin-bottom: 15px;
    }
.md2{
    grid-area: md2;
    grid-template-areas:
    "img title"
   "img bd"
   "img ."
   "ft ft"
   ". md3";
   
 
   
}
.md3{
    grid-area: md3;
 
}
.media-flip{
    grid-template-areas:
    "title img"
    "bd img"
    ". img"
    "ft ft";
}
 
.md1{
   grid-template-areas:
   "img title title title"
   "img bd bd bd"
   "img . . ."
   "ft ft ft ft"
   ". md2 md2 md2";
}